.footer {
  background-image: url("https://images.unsplash.com/photo-1536768767433-cc552f38def9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80");
  background-position: center center;
  background-size: cover;
  height: 400px;

  .email-input {
    padding: 12px 74px 12px 12px;
  }
}
