.banner {
  background-image: url("https://images.unsplash.com/photo-1506846540181-347008948fff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2093&q=80");
  background-position: center center;
  background-size: cover;
  height: 480px;
}

.top-navbar {
  height: 52px; /* 隱藏下方捲軸 */
  overflow-y: hidden;
}

.nav-scroller {
  padding-top: 14px;
  padding-bottom: 30px; /* 隱藏下方捲軸 */ /* FIXME: 這是一直 try 到蓋過去就好嗎？還是有一定的計算方式？ */
  overflow-x: scroll;
  background: yellow;
}
