<h2 class="smb-6 fw-bold fs-1">猜你也喜歡...</h2>
<div class="row">
  <div class="col-12 col-lg-11 offset-lg-1 fs-5">
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card border-0">
            <img src="https://images.unsplash.com/photo-1492087368735-957f2d176504" class="card-img-top mb-1" alt="...">
            <div class="card-body p-0">
              <h5 class="card-title mb-1">No.22 線上設計展</h5>
              <p class="card-text">$350</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide">
            <div class="card border-0">
              <img src="https://images.unsplash.com/photo-1567722681579-c671cabd2810" class="card-img-top mb-1"
                alt="...">
              <div class="card-body p-0">
                <h5 class="card-title mb-1">No.22 線上設計展</h5>
                <p class="card-text">$350</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card border-0">
            <img src="https://images.unsplash.com/photo-1578402025217-920675beb3c3" class="card-img-top mb-1" alt="...">
            <div class="card-body p-0">
              <h5 class="card-title mb-1">No.22 線上設計展</h5>
              <p class="card-text">$350</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 10,
    breakpoints: {
      // when window width is >= 576px
      576: {
        slidesPerView: 2,
        spaceBetween: 20
      },
      992: {
        slidesPerView: 3,
        spaceBetween: 30,
      }
    }
  });
</script>