<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/bootstrap.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <!-- header -->
  <header>
    <div class="container bg-info">
      <div class="position-relative text-center">
        <h1 class="d-inline-block text-primary py-4 py-md-7">EXHIBINECTION</h1>
        <!-- FIXME: 這裡加 position-absolute 就高度 0？  -->
        <ul class="d-flex | position-absolute top-50 end-0 translate-middle-y | list-unstyled">
          <li>
            <a href="#" class="me-8 text-link d-none d-md-block">Sign in</a>
          </li>
          <li>
            <a href="#" class="me-8 text-link d-none d-md-block">Sign up</a>
          </li>
          <li>
            <a href="#" class="text-black">
              <span class="material-icons">
                confirmation_number
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <!-- banner -->
  <div class="banner bg-warning text-white">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-12 col-lg-4 offset-lg-1">
          <h2 class="h2 mb-2">台北當代藝術展</h2>
          <span class="d-block mb-4">01 JUN - 31 OCT</span>
          <ul class="d-flex list-unstyled">
            <li><a href="#" class="btn btn-lg btn-secondary">購買票券</a></li>
            <li class="ms-2"><a href="#" class="btn btn-lg btn-outline-light">詳細資訊</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- top-navbar -->
  <div class="top-navbar border-bottom border-dark border-link">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <ul class="nav-scroller | d-flex justify-content-between flex-nowrap | list-unstyled text-nowrap">
            <li><a href="#" class="d-block px-4 text-link">音樂</a></li>
            <li><a href="#" class="d-block px-4 text-link">戲劇</a></li>
            <li><a href="#" class="d-block px-4 text-link">設計</a></li>
            <li><a href="#" class="d-block px-4 text-link">藝術</a></li>
            <li><a href="#" class="d-block px-4 text-link">美食</a></li>
            <li><a href="#" class="d-block px-4 text-link">旅遊</a></li>
            <li><a href="#" class="d-block px-4 text-link">電影</a></li>
            <li><a href="#" class="d-block px-4 text-link">親子</a></li>
            <li><a href="#" class="d-block px-4 text-link">期間限定</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- main-content -->
  <%- contents %>

    <!-- footer -->

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>