<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/bootstrap.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <!-- header -->
  <header>
    <div class="container">
      <div class="position-relative bg-warning text-center">
        <h1 class="d-inline-block text-primary py-4 py-md-7">EXHIBINECTION</h1>
        <!-- FIXME: 這裡加 position-absolute 就高度 0？  -->
        <ul class="d-flex | position-absolute top-50 end-0 translate-middle-y | list-unstyled">
          <li>
            <a href="#" class="me-8 text-link d-none d-md-block">Sign in</a>
          </li>
          <li>
            <a href="#" class="me-8 text-link d-none d-md-block">Sign up</a>
          </li>
          <li>
            <a href="#" class="text-black">
              <span class="material-icons">
                confirmation_number
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <!-- banner -->

  <!-- top-navbar -->

  <!-- main-content -->
  <%- contents %>

    <!-- footer -->

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>