<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./assets/style/bootstrap.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <!-- header -->
  <header class="sticky-top bg-white" id="header">
    <div class="container">
      <div class="position-relative text-center">
        <h1 class="d-inline-block text-primary | py-4 py-md-7 | lh-1 fs-4 fs-lg-4">EXHIBINECTION</h1>
        <!-- FIXME: 這裡加 position-absolute 就高度 0？  -->
        <ul class="d-flex | position-absolute top-50 end-0 translate-middle-y | list-unstyled">
          <li>
            <a href="#" class="me-8 text-link d-none d-md-block lh-sm">Sign in</a>
          </li>
          <li>
            <a href="#" class="me-8 text-link d-none d-md-block lh-sm">Sign up</a>
          </li>
          <li data-bs-toggle="offcanvas" href="#cart" role="button" aria-controls="cart">
            <a href="javascript:;" class="d-block text-black cart-icon">
              <span class="material-icons">
                confirmation_number
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <!-- cart canvas -->
  <section id="cart" class="offcanvas offcanvas-end | pt-5 pb-6 px-4 pt-lg-8 pb-lg-6 px-lg-8 | bg-black text-white"
    tabindex="-1" id="cart" aria-labelledby="cartLabel">
    <div class="offcanvas-header p-0 mb-3">
      <h3 class="offcanvas-title fs-lg-2" id="cartLabel">Cart List</h3>
    </div>
    <ul class="offcanvas-body text-black p-0">
      <li>
        <div class="card mb-3">
          <!-- FIXME: 加上 a, height 就變高了 -->
          <a href="#">
            <span class="material-icons">clear</span>
          </a>
          <div class="d-flex justify-content-between | px-4 pb-4 px-md-8 pb-md-6">
            <div class="d-flex">
              <img
                src="https://images.unsplash.com/photo-1545987796-b199d6abb1b4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80"
                class="img-fluid rounded-start" alt="...">
              <div class="d-flex flex-column ms-4">
                <h6 class="card-title mb-1">2020 台味設計展</h6>
                <span class="mb-1">01 JUN — 31 OCT</span>
                <span class="mb-3">全票</span>
                <span class="fs-5">NT$350</span>
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
              <a href="#">
                <span class="material-icons">remove</span>
              </a>
              <span class="fs-5 mx-md-3">01</span>
              <a href="#">
                <span class="material-icons">add</span>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card mb-3">
          <!-- FIXME: 加上 a, height 就變高了 -->
          <a href="#">
            <span class="material-icons">clear</span>
          </a>
          <div class="d-flex justify-content-between | px-4 pb-4 px-md-8 pb-md-6">
            <div class="d-flex">
              <img
                src="https://images.unsplash.com/photo-1510520001634-6af954f45759?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3153&q=80"
                class="img-fluid rounded-start" alt="...">
              <div class="d-flex flex-column ms-4">
                <h6 class="card-title mb-1">2020 台味設計展</h6>
                <span class="mb-1">01 JUN — 31 OCT</span>
                <span class="mb-3">全票</span>
                <span class="fs-5">NT$350</span>
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
              <a href="#">
                <span class="material-icons">remove</span>
              </a>
              <span class="fs-5 mx-md-3">01</span>
              <a href="#">
                <span class="material-icons">add</span>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card mb-3">
          <!-- FIXME: 加上 a, height 就變高了 -->
          <a href="#">
            <span class="material-icons">clear</span>
          </a>
          <div class="d-flex justify-content-between | px-4 pb-4 px-md-8 pb-md-6">
            <div class="d-flex">
              <img
                src="https://images.unsplash.com/photo-1545178803-4056771d60a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3150&q=80"
                class="img-fluid rounded-start" alt="...">
              <div class="d-flex flex-column ms-4">
                <h6 class="card-title mb-1">2020 台味設計展</h6>
                <span class="mb-1">01 JUN — 31 OCT</span>
                <span class="mb-3">全票</span>
                <span class="fs-5">NT$350</span>
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
              <a href="#">
                <span class="material-icons">remove</span>
              </a>
              <span class="fs-5 mx-md-3">01</span>
              <a href="#">
                <span class="material-icons">add</span>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="offcanvas-footer p-0 d-flex justify-content-between align-items-baseline">
      <div>
        <span>小計</span>
        <span>NT$1050</span>
      </div>
      <div>
        <input type="button" class="btn btn-light btn-sm" value="前往結帳">
      </div>
    </div>
  </section>

  <!-- banner -->
  <div class="banner bg-warning text-white <%if (current!='index') {%>d-none<%}%>">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-12 col-lg-4 offset-lg-1">
          <h2 class="mb-2 fw-bold fs-1">台北當代藝術展</h2>
          <span class="d-block mb-4 fs-5 fw-bold">01 JUN - 31 OCT</span>
          <ul class="d-flex list-unstyled">
            <li><a href="#" class="btn btn-lg btn-secondary">購買票券</a></li>
            <li class="ms-2"><a href="#" class="btn btn-lg btn-outline-light">詳細資訊</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- top-navbar -->
  <div class="top-navbar border-bottom border-dark border-link" id="top-navbar">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <ul class="nav-scroller | d-flex justify-content-between flex-nowrap | list-unstyled text-nowrap">
            <li><a href="#" class="d-block px-4 text-link">音樂</a></li>
            <li><a href="#" class="d-block px-4 text-link">戲劇</a></li>
            <li><a href="#" class="d-block px-4 text-link">設計</a></li>
            <li><a href="#" class="d-block px-4 text-link">藝術</a></li>
            <li><a href="#" class="d-block px-4 text-link">美食</a></li>
            <li><a href="#" class="d-block px-4 text-link">旅遊</a></li>
            <li><a href="#" class="d-block px-4 text-link">電影</a></li>
            <li><a href="#" class="d-block px-4 text-link">親子</a></li>
            <li><a href="#" class="d-block px-4 text-link">期間限定</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- main-content -->
  <main>
    <%- contents %>

      <div class="container mt-12 mb-15">
        <%- include('guessLike.ejs') %>
      </div>
  </main>

  <!-- footer -->
  <footer class="footer bg-dark">
    <div class="container h-100 d-flex flex-column justify-content-end text-white">
      <h2 class="fs-3 fs-lg-2">
        <p>
          想收到最新消息嗎？<br>
          快訂閱我們！
        </p>
      </h2>
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">
          <div class="input-group mb-3">
            <input type="text" class="email-input form-control" placeholder="輸入您的電子信箱" aria-label="輸入您的電子信箱"
              aria-describedby="button-subscribe">
            <a class="bg-secondary text-white rounded" id="button-subscribe">
              <span class="d-block px-13 py-3">訂閱</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="d-flex justify-content-between align-items-center py-4 py-md-7">
        <div class="d-flex flex-column flex-md-row">
          <h4 class="fw-normal lh-1 fs-4 fs-lg-4">EXHIBINECTION</h4>
          <span class="ms-md-4">© 2020. All Rights Reserved.</span>
        </div>
        <ul class="d-flex list-unstyled mb-0">
          <li>
            <a href="#" class="me-6 text-link d-none d-md-block">Sign in</a>
          </li>
          <li>
            <a href="#" class="text-link d-none d-md-block">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <script>
    $('#cart').css('top', $('#header').height() + 'px')
    // FIXME: 想要用 jQuery 讓他跟 header 距離為 0 時就固定住。但為什麼捲軸往上滑，他的 offset 都不會有變化呢？
    // console.log($('#top-navbar').offset().top)
  </script>
</body>

</html>